<header id="masthead">
    <div class="container">
        <a href="index.handlebars" id="logo">Theo</a>
        <nav>
            <a href="index.handlebars">About</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="contact.html"><i class="fas fa-info-circle"></i></a>
        </nav>
    </div>
</header>